# Ticketazo - Proyecto de QA Automation

# No subir dependencias
node_modules/

# Archivos generados por Cypress (videos, capturas y descargas)
.cypress/
cypress/videos/
cypress/screenshots/
cypress/downloads/

# Archivos de logs
*.log

# Variables de entorno
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Archivos generados por el sistema operativo
.DS_Store
Thumbs.db

# Archivos temporales
*.swp
*.swo
*.tmp